body {
  background: rgb(59, 59, 58);

}

.jumbotron {
  background-image: url(images/computer.jpg);
  height: 300px;
  background-image: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-bitcoin {
  size: 500px;;
}

.fab {
  color: rgb(207, 188, 12);
}

.searchBtn {
  background: white;
  outline: black;
  color: black;
  border: black 1px solid;
}

.searchBtn:hover {
background: grey;
}

.Emailbtn {
  background: white;
  color: black;
}

.logIn {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black;

}


.form-text {
  font-size: 12px;

}

.whole {
  background: lightgray;
  opacity: .7;
}

.form-control {
  background: white;
}

#emailHelp {
  color: black;
}

.fab {
  color: rgb(219, 198, 8);
}

footer {
  clear: both;
  font-size: 12px;
  text-align: center;
  padding-bottom: 40px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
  background-color: black;
  color: white;

}

.page-footer {
  clear: both;
  font-size: 12px;
  text-align: center;
  padding-bottom: 40px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
  background-color: black;
  color: white;

}

.bold {
  font-weight: 700;
}

.text {
  color: white;
  font-family: 'Anton', sans-serif;

}


.welcome {
color: white;
font-size: 50px;
font-family: 'Anton', sans-serif;
text-align: center;

}